body {
    background-color:#DAFFFB;
}
.btn {
    margin-bottom: 50px;
    background-color: black;
    color: white;
    border: none; /* Optional: Remove the button border */
    padding: 10px 20px; /* Optional: Add padding to the button */
    border-radius: 5px; /* Optional: Round the button corners */

}
.btn:hover {
    background-color: #176B87;
}


.custom-navbar {
    background-color: black;
}

.btn-admin{
    margin-top: 5%;
    background-color: black;
    color: white;
    border: none; /* Optional: Remove the button border */
    padding: 10px 20px; /* Optional: Add padding to the button */
    border-radius: 5px; /* Optional: Round the button corners */
}
.btn-admin:hover {
    background-color: #176B87;
}


#logo-text {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

#nav {
    padding: 30px;
    background-color: #176B87;

}
.nav-link {
    color: rgba(255, 255, 255);
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: white;
}

#search-button-navbar {
    background-color: #febd69;
    border-color: #febd69;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

#nav-cart-count {
    background-color: red;
    color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 15px;
    align-items: center;

    display: flex;
    justify-content: center;

    position: absolute;
    margin-left: 10px;
}